<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Изменить пароль</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        body {
            background-color: #f1f1f1;
        }

        .container {
            max-width: 400px;
            margin: 0 auto;
            padding: 40px;
            background-color: #fff;
            border-radius: 5px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
        }
        .btn {

            background-color: #7e4caf;
            color: #fff;
            border: none;
        }

        .btn:hover {
            background-color: #e79a11;
        }

        .message {
            color: #7e4caf;
        }

        .message:hover {
            color: #e79a11;
        }

        .form-control:focus {
            border-color: #7e4caf;
            box-shadow: 0 0 5px #7e4caf;
        }

        .btn-primary.disabled, .btn-primary:disabled {
            color: #fff;
            background-color: #580b98;
            border-color: #580b98;
        }

        .toggle-icon1 .toggle-icon2 .toggle-icon3 {
            width:30px;
            height:30px;
            position: relative;
            bottom: 189px;
            left: 153px;
        }

    </style>
</head>
<body>
<br><br>
<div class="container" style="position:relative">
    <h2 style="margin-bottom:15px" class="text-center">Изменение пароля</h2>
    <form action="/change-my-password" method="post">
        <div class="form-group">
            <label for="oldPassword">Old password</label>
            <input style=" padding-right: 24px;" name="oldPassword"  type="password" id="oldPassword" class="form-control" required>
            <p id="wrongOldPassword" style="color: #fa3030" th:text="${errorMessage_reg}"></p>
            <span style="position: absolute; left: 330px; bottom: 272px;" class="toggle-icon1" onclick="toggleOldPasswordVisibility()">
                   <img width="21px" height="21px" src="/images/eye_open.png"/>
            </span>
        </div>
        <div class="form-group">
            <label for="newPassword">New password</label>
            <input style=" padding-right: 24px;" minlength="6" name="newPassword"  type="password" id="newPassword" class="form-control" required>
            <p id="password-strength"></p>
            <span style="position: absolute; left: 330px; bottom: 186px;" class="toggle-icon2" onclick="toggleNewPasswordVisibility()">
                   <img width="21px" height="21px" src="/images/eye_open.png"/>
            </span>
        </div>
        <div class="form-group">
            <label for="RepeatNewPassword">Repeat new password</label>
            <input style=" padding-right: 24px;" name="RepeatNewPassword"  type="password" id="RepeatNewPassword" class="form-control" required>
            <p id="wrongRepeatNewPassword" style="color: #fa3030" th:text="${errorMessage}"></p>
            <span style="position: absolute; left: 330px; bottom: 100px;" class="toggle-icon3" onclick="toggleRepeatNewPasswordVisibility()">
                   <img width="21px" height="21px" src="/images/eye_open.png"/>
            </span>
        </div>
        <button id="reg_btn" type="submit" class="btn btn-primary btn-block">Подтвердить</button>
    </form>
</div>

<script>
        var oldPassword = document.getElementById("wrongOldPassword");
        if(oldPassword.innerHTML == "Incorrect old password") {
            document.querySelector(".toggle-icon1").style.bottom = "296px"
        }

        var repeatPassword = document.getElementById("wrongRepeatNewPassword");
        if(repeatPassword.innerHTML == "Passwords do not match") {
            document.querySelector(".toggle-icon1").style.bottom = "295px"
            document.querySelector(".toggle-icon2").style.bottom = "209px"
            document.querySelector(".toggle-icon3").style.bottom = "124px"
        }

</script>

<script>
    function toggleOldPasswordVisibility() {
        var passwordInput = document.getElementById("oldPassword");
        var toggleIcon = document.querySelector(".toggle-icon1");

        if (passwordInput.type === "password") {
            passwordInput.type = "text";
            toggleIcon.innerHTML = '<img width="21px" height="21px" src="/images/eye_close.png"/>'; // Измените иконку на переключение видимости пароля
        } else {
            passwordInput.type = "password";
            toggleIcon.innerHTML = '<img width="21px" height="21px" src="/images/eye_open.png"/>'; // Измените иконку на переключение видимости пароля
        }
    }

    function toggleNewPasswordVisibility() {
        var passwordInput = document.getElementById("newPassword");
        var toggleIcon = document.querySelector(".toggle-icon2");

        if (passwordInput.type === "password") {
            passwordInput.type = "text";
            toggleIcon.innerHTML = '<img width="21px" height="21px" src="/images/eye_close.png"/>'; // Измените иконку на переключение видимости пароля
        } else {
            passwordInput.type = "password";
            toggleIcon.innerHTML = '<img width="21px" height="21px" src="/images/eye_open.png"/>'; // Измените иконку на переключение видимости пароля
        }
    }

    function toggleRepeatNewPasswordVisibility() {
        var passwordInput = document.getElementById("RepeatNewPassword");
        var toggleIcon = document.querySelector(".toggle-icon3");

        if (passwordInput.type === "password") {
            passwordInput.type = "text";
            toggleIcon.innerHTML = '<img width="21px" height="21px" src="/images/eye_close.png"/>'; // Измените иконку на переключение видимости пароля
        } else {
            passwordInput.type = "password";
            toggleIcon.innerHTML = '<img width="21px" height="21px" src="/images/eye_open.png"/>'; // Измените иконку на переключение видимости пароля
        }
    }
</script>

<!--Сложность пароля-->
<script>
    const passwordInput = document.getElementById('newPassword');
    const passwordStrength = document.getElementById('password-strength');

    passwordInput.addEventListener('input', function() {
        const password = passwordInput.value;
        const strength = checkPasswordStrength(password);

        // Изменяем цвет или текст в зависимости от надежности пароля
        if (strength === 'strong') {
            passwordStrength.style.color = 'green';
            passwordStrength.textContent = 'Safe password';

            if(document.getElementById("wrongOldPassword").innerHTML == "Incorrect old password"){
                document.querySelector(".toggle-icon1").style.bottom = "319px"
            }
            else{
                document.querySelector(".toggle-icon1").style.bottom = "296px"
            }
            if(document.getElementById("wrongRepeatNewPassword").innerHTML == "Passwords do not match"){
                document.querySelector(".toggle-icon1").style.bottom = "320px"
                document.querySelector(".toggle-icon2").style.bottom = "234px"
            }
            if(document.getElementById("wrongRepeatNewPassword").innerHTML == "Passwords do not match" && document.getElementById("password-strength").innerHTML != "") {
                document.querySelector(".toggle-icon2").style.bottom = "234px"
            }

            document.querySelector(".toggle-icon2").style.bottom = "210px"

        } else if (strength === 'medium') {
            passwordStrength.style.color = 'orange';
            passwordStrength.textContent = 'Medium password';

            if(document.getElementById("wrongOldPassword").innerHTML == "Incorrect old password"){
                document.querySelector(".toggle-icon1").style.bottom = "319px"
            }
            else{
                document.querySelector(".toggle-icon1").style.bottom = "296px"
            }
            if(document.getElementById("wrongRepeatNewPassword").innerHTML == "Passwords do not match"){
                document.querySelector(".toggle-icon1").style.bottom = "320px"
                document.querySelector(".toggle-icon2").style.bottom = "234px"
            }
            if(document.getElementById("wrongRepeatNewPassword").innerHTML == "Passwords do not match" && document.getElementById("password-strength").innerHTML != "") {
                document.querySelector(".toggle-icon2").style.bottom = "234px"
            }

            document.querySelector(".toggle-icon2").style.bottom = "210px"
        } else {
            passwordStrength.style.color = 'red';
            passwordStrength.textContent = 'Weak password';

            if(document.getElementById("wrongOldPassword").innerHTML == "Incorrect old password"){
                document.querySelector(".toggle-icon1").style.bottom = "319px"
            }
            else{
                document.querySelector(".toggle-icon1").style.bottom = "296px"
            }
            if(document.getElementById("wrongRepeatNewPassword").innerHTML == "Passwords do not match"){
                document.querySelector(".toggle-icon1").style.bottom = "320px"
                document.querySelector(".toggle-icon2").style.bottom = "234px"
            }
            if(document.getElementById("wrongRepeatNewPassword").innerHTML == "Passwords do not match" && document.getElementById("password-strength").innerHTML != "") {
                document.querySelector(".toggle-icon2").style.bottom = "234px"
            }

            document.querySelector(".toggle-icon2").style.bottom = "210px"
        }
    });

    function checkPasswordStrength(password) {
        if (password.length >= 8) {
            return 'strong'; // Пароль считается надежным, если его длина больше или равна 8 символам
        } else if (password.length >= 6) {
            return 'medium'; // Пароль считается средним, если его длина больше или равна 6 символам
        } else {
            return 'weak'; // Пароль считается слабым, если его длина меньше 6 символов
        }    }
</script>

</body>
</html>